body {
    background-color: black;
    font-family: 'Noto Serif', Georgia, Times, 'Times New Roman', serif;
    color: gray;
    margin: 0;
}
.container {
    background-color: white;
    width: 901px;
    padding: 10px 170px 50px 170px;
    margin: 0px auto 0px auto;
}

/*Header, Logo and Social Media Icons*/
#logo{
    float: left;
    height: 45px;
}
header{
    margin-top: 25px;
}
h3 {
    font-family: 'Strait', sans-serif;
    margin: 0px;
    padding: 0px;
    padding-left: 48px;
    margin-left: 5px;
}
header div{
    float: right;
    height: 24px;
    width: 300px;
    position: relative;
    top: -50px;
    right: -20px;
}
header ul li{
    display: inline;
    list-style: none;
}
#mail{
    padding-left: 15px;
}

/*Dividers*/
.divider{
    height: 15px;
    background-image: url("img/hr-bg.jpg");
    border: none;
    clear: both;
    margin-top: 40px;
}
hr.footer {
    display: inline-block;
    width: 45%;
    border: 0;
    height: 1px;
    background-color: lightgray;
    position: relative;
    top: -15px;
    margin: 3px;
}

/*Article Content*/
.print{
    float: right;
}
.print:before{
    content: '';
    display: block;
    background: url("img/print-icon.png") no-repeat;
    height: 10px;
    width: 13px;
    float: left;
    margin: 0 3px 0 0;
    position: relative;
    top: 3px;
}
article img{
    margin-top: 30px;
}
p{
    text-indent: 30px;
}

/*Ingredients List*/
section{
    background: url("img/list-bg.png") no-repeat;
    height: 305px;
    padding: 15px 0 20px 15px;
}
section ul{ /*Code from CSS tricks website*/  
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    column-gap: 40px;
    -moz-column-gap: 40px;
}
section ul li{
    list-style: none;
    padding: 0;
    font-family: 'Patrick Hand', sans-serif;
    font-size: 18pt;
    color: #696b46;
}

/*Footer*/
footer{
    text-align: center; 
    font-size: 10pt;
}

/*Overall Font Styling*/
h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 30pt;
    line-height: 100%;
    padding-left: 50px;
    margin: 0px;
    color: black;
}
h2{
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    color: black;
    font-size: 30pt;
    margin: 40px 0 0 0;
}
h3, h4{
    font-family: 'Strait', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 0;
}
h3{
    font-family: 'Strait', sans-serif;
    padding-left: 10px;
    font-size: 9pt;
    float: left;
}
h4{
    font-size: 11pt;
    color:#939393;
    display: inline;
}

b {
    position: relative;
    right: -15px;
    bottom: 50px;
}

#bio {
    
    position: relative;
    right: -80px;
    bottom: 60px;
    padding-left: 1em;
    text-indent:-0.5em;

}

button {
    position: relative;
    right: -700px;
    bottom: 160px;
    width: 200px;
    height: 70px;
    background-color: rgb(133, 69, 46);
    color: white;
    font-size: 20px;
    font-style: 'Strait';
}