body{
    background-color: black;
    font-family: 'Noto Serif', Georgia, Times, 'Times New Roman', serif;
    color: gray;
    margin: 0;
}
.container{
    background-color: white;
    width: 901px;
    padding: 10px 170px 50px 170px;
    margin: 0px auto 0px auto;
}
header img{
    float: left;
    height: 45px;
}
hr{
    height: 15px;
    background-image: url("img/hr-bg.jpg");
    border: none;
}
h1{
    font-family: 'Yellowtail', cursive;
}
h2{
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    color: black;
    font-size: 30pt;
    margin: 40px 0 0 0;
}
h3, h4{
    font-family: 'Strait', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 0;
}
h4{
    float: left;
    font-size: 11pt;
    color:#939393;
    margin-top: 0;
    margin-bottom: 30px;
}
.print{
    float: right;
}
.print:before{
    content: '';
    display: block;
    background: url("img/print-icon.png") no-repeat;
    height: 10px;
    width: 13px;
    float: left;
    margin: 0 3px 0 0;
    position: relative;
    top: 3px;
}
header li{
    float: right;
    list-style: none;
    display: inline;
}
li img{
    height: 24px;
}

/*Article Content*/
p{
    text-indent: 30px;
}

/*Ingredients List*/
section{
    background: url("img/list-bg.png") no-repeat;
    height: 305px;
    padding: 15px 0 20px 15px;
}
section ul li{
    list-style: none;
    padding: 0;
    font-family: 'Patrick Hand', sans-serif;
    font-size: 18pt;
    color: #696b46;
}

/*Footer*/
footer{
    text-align: center; 
    font-size: 10pt;
}