body {
    background-color: black;
    font-family: 'Noto Serif', Georgia, Times, 'Times New Roman', serif;
    color: gray;
}
.container {
    background-color: white;
    width: 80%;
    padding: 10px 30px 10px 30px;
    margin: 0 auto 0 auto;
}
/* logo left to tagline */
header img {
    float: left;
    height: 45px;
    margin-top: 5px;
}
h1 {
    font-family: 'Yellowtail', cursive;
    margin: 0px;
    padding: 0px;
    line-height: 100%;
}
h3 {
    font-family: 'Strait', sans-serif;
    margin: 0px;
    padding: 0px;
    padding-left: 48px;
    margin-left: 0px;
}

#icons, ul {
    display: inline;
    padding: 200px 5px 0px 5px;
    
    
}

header, ul {
    padding: 20px 5px 0px 5px; 
}
header li{
    float: right;
    list-style: none;
    position: relative;
    top: -50px;
    right: -100;
    
    }
li img{
    height: 24px;
}

#rss {
    padding-left: 10px;
}

button {
    position: relative;
    right: -800px;
    bottom: 80px;
    width: 200px;
    height: 50px;
    background-color: rgb(133, 69, 46);
    color: white;
    font-size: 20px;
}